<li class="c-menu__item has-submenu" data-toggle="tooltip" title="Données">
    <div class="c-menu__item__inner">
        <i class="fa fa-table"></i>
        <div class="c-menu-item__title"><span>Données</span></div>
        <div class="c-menu-item__expand js-expand-submenu"><i class="fa fa-angle-down"></i></div>
    </div>
    <ul class="c-menu__submenu u-list">

        <li class="onglet" data-type="Vehicule"><a href="/Home/TableauVehicule/1">Véhicules</a></li>
        <li class="onglet" data-type="Fournisseur"><a href="/Home/TableauFournisseur/1">Fournisseurs</a></li>
    </ul>
</li>