<li class="c-menu__item has-submenu" data-toggle="tooltip" title="Gifts">
    <div class="c-menu__item__inner">
        <i class="fa fa-gift"></i>
        <div class="c-menu-item__title"><span>Gifts</span></div>
    </div>
</li>
