<li class="c-menu__item has-submenu" data-toggle="tooltip" title="Modules">
    <div class="c-menu__item__inner">
        <i class="fa fa-puzzle-piece"></i>
        <div class="c-menu-item__title"><span>Modules</span></div>
        <div class="c-menu-item__expand js-expand-submenu"><i class="fa fa-angle-down"></i></div>
    </div>
    <ul class="c-menu__submenu u-list">

        <li><a href="#">Payments</a></li>
        <li><a href="#">Maps</a></li>
        <li><a href="#">Notifications</a></li>
    </ul>
</li>
