<li class="c-menu__item has-submenu" data-toggle="tooltip" title="Statistics">
    <div class="c-menu__item__inner">
        <i class="fa fa-bar-chart"></i>
        <div class="c-menu-item__title"><span>Statistics</span></div>
    </div>
</li>
